@model Group_Project.Models.Question

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
@using (Html.BeginForm("EditSave", "Question")) {
<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TextOfQuestion" class="control-label"></label>
                <input asp-for="TextOfQuestion" class="form-control" />
                <span asp-validation-for="TextOfQuestion" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="PossibleAnswers.Answer1" class="control-label"></label>
                    <input asp-for="PossibleAnswers.Answer1" class="form-control" />
                    <span asp-validation-for="PossibleAnswers.Answer1" class="text-danger"></span>
        </div>
        <div class="form-group">
                    <label asp-for="PossibleAnswers.Answer2" class="control-label"></label>
                    <input asp-for="PossibleAnswers.Answer2" class="form-control" />
                    <span asp-validation-for="PossibleAnswers.Answer2" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PossibleAnswers.Answer3" class="control-label"></label>
                    <input asp-for="PossibleAnswers.Answer3" class="form-control" />
                    <span asp-validation-for="PossibleAnswers.Answer3" class="text-danger"></span>
        </div>
        <div class="form-group">
                    <label asp-for="PossibleAnswers.Answer4" class="control-label"></label>
                    <input asp-for="PossibleAnswers.Answer4" class="form-control" />
                    <span asp-validation-for="PossibleAnswers.Answer4" class="text-danger"></span>
        </div>
        <div class="form-group">
                    <label asp-for="PossibleAnswers.CorrectIndex" class="control-label"></label>
                    <input asp-for="PossibleAnswers.CorrectIndex" class="form-control" />
                    <span asp-validation-for="PossibleAnswers.CorrectIndex" class="text-danger"></span>
        </div>
                @*<div class="col-md-10">
                    <label asp-for="Topics.Certificate.Topics" class="control-label"></label>
                    <select>
                        foreach (var x
                            in @Html.DisplayFor(model => model.Topics.Certificate.Topics))
                        {
                            <option>

                                @Html.DropDownList("", model => model.Topics.Certificate.Topics)

                            </option>
                        }
                    </select>
                    
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
}